div {
  border: solid 2.5px black;
  width: 472px;
  height: 87px;
  display: grid;
  background: white;
}
#ExtraSelect {
  grid-template-columns: repeat(4,minmax(0,1fr));
}
#ExtraRuns {
  grid-template-columns: repeat(3,minmax(0,1fr));
}
#type {
  margin: 0 5px 5px 5px;
}
h4 {
  grid-row: 1;
  grid-column: 1 /span 4;
  text-align: center;
  margin: 5px 0 0 0;
  text-decoration: underline;
}
label {
  text-align: center;
}
#Dec {
  grid-row: 2;
  grid-column: 1;
}
#Inc {
  grid-row: 2;
  grid-column: 3;
}
#Confirm {
  grid-row: 3;
  grid-column: 2;
}
#Dec, #Inc, #Confirm {
  margin: 0px 5px 5px 5px;
}

