div {
  border: solid 2.5px black;
  display: grid;
  background: white;
  padding: 10px;
  grid-column-gap: 10px;
}
#ExtraSelect {
  grid-template-columns: repeat(4,minmax(0,1fr));
}
#ExtraRuns {
  grid-template-columns: repeat(3,minmax(0,1fr));
}
button {
  padding: 10px;
}
h4 {
  grid-row: 1;
  grid-column: 1 /span 4;
  text-align: center;
  text-decoration: underline;
  margin: 0 0 10px 0;
}
#Dec {
  grid-row: 2;
  grid-column: 1;
}
#Inc {
  grid-row: 2;
  grid-column: 3;
}
#Confirm {
  grid-row: 2;
  grid-column: 2;
}

