#ScorerUi {
  border: solid 2.5px black;
  background: white;
  display: grid;
  grid-template-columns: repeat(2,minmax(0,1fr));
  grid-template-rows: auto repeat(3,minmax(0,1fr));
  grid-gap: 5px;
  padding: 5px;
}
#GameInfo {
  grid-column: 1 /span 2;
  grid-row:1;
  border: solid 2.5px black;
  padding: 10px;
}
#TeamScore {
  grid-column: 1;
  grid-row: 2;
  border: solid 2.5px;
  padding: 10px;
}
#BatPair {
  grid-column: 1;
  grid-row:3;
  border: solid 2.5px black;
  padding: 10px;
}
#BowlPair {
  grid-column: 1;
  grid-row: 4;
  border: solid 2.5px black;
  padding: 10px;
}
app-commentary-ui {
  grid-column: 2;
  grid-row: 2 /span 3;
}
table {
  width: 100%;
}
#TeamScore th, #BatPair th, #BowlPair th{
  text-decoration: underline;
}
#Name {
  text-align: left;
}
#Overs {
  text-align: center;
}
#Score {
  text-align: right;
}
