<!DOCTYPE html>
<html>

<div id="EndMatch">
  <h4 id="Title">Match Complete</h4>
  <div id="HT">
    <h4>{{returnHomeTeamName()}}</h4>
    <div id="Batting">
      <table>
        <tr>
          <th id="Name">Batter</th>
          <th></th>
          <th id="Score">Score</th>
        </tr>
        @for (score of returnHomeTeamBatting(); track $index) {
        <tr>
          <td id="Name">{{score[0]}}</td>
          <td>{{score[1]}}</td>
          <td>{{score[2]}}</td>
        </tr>
        }
      </table>
      <table>
        <tr>
          <th>Overs</th>
          <td>{{returnAwayTeamOvers()}}</td>
          <th>Extras</th>
          <td>{{returnHomeTeamExtras()}}</td>
          <th>Total</th>
          <td>{{returnHomeTeamScore()}}</td>
        </tr>
      </table>
    </div>
    <div id="FOW">
    <h4>Fall of Wicket</h4>
    <ul>
    @for (wicket of returnHomeTeamFow(); track $index) {
      <li>{{wicket}}</li>
    }
    </ul>
    </div>
    <div id="Bowling">
      <table>
        <tr>
          <th id="Name">Bowler</th>
          <th></th>
          <th id="Score">Figures</th>
        </tr>
        @for (figures of returnAwayTeamBowling(); track $index) {
        <tr>
          <td id="Name">{{figures[0]}}</td>
          <td></td>
          <td>{{figures[1]}}</td>
        </tr>
        }
      </table>
    </div>
  </div>
  <div id="AT">
    <h4>{{returnAwayTeamName()}}</h4>
    <div id="Batting">
      <table>
        <tr>
          <th id="Name">Batter</th>
          <th></th>
          <th id="Score">Score</th>
        </tr>
        @for (score of returnAwayTeamBatting(); track $index) {
        <tr>
          <td id="Name">{{score[0]}}</td>
          <td>{{score[1]}}</td>
          <td>{{score[2]}}</td>
        </tr>
        }
        </table>
        <table>
        <tr>
          <th>Overs</th>
          <td id="Score">{{returnHomeTeamOvers()}}</td>
          <th>Extras</th>
          <td id="Score">{{returnAwayTeamExtras()}}</td>
          <th>Total</th>
          <td id="Score">{{returnAwayTeamScore()}}</td>
        </tr>
      </table>
    </div>
    <div id="FOW">
    <h4>Fall of Wicket</h4>
    <ul>
    @for (wicket of returnAwayTeamFow();track $index) {
      <li>{{wicket}}</li>
    }
    </ul>
    </div>
    <div id="Bowling">
      <table>
        <tr>
          <th id="Name">Bowlers</th>
          <th></th>
          <th id="Score">Figures</th>
        </tr>
        @for (figures of returnHomeTeamBowling(); track $index) {
        <tr>
          <td id="Name">{{figures[0]}}</td>
          <td></td>
          <td>{{figures[1]}}</td>
        </tr>
        }
      </table>
    </div>
  </div>
</div>

</html>
