#RunForm {
  display: grid;
  border: solid 2.5px black;
  background: white;
  grid-template-columns: repeat(3,minmax(0,1fr));
  grid-template-rows: 2;
  grid-column-gap: 10px;
  padding: 10px;
}
h4 {
  grid-column: 1 /span 3;
  grid-row: 1;
  margin: 0 0 10px 0;
  text-decoration: underline;
  text-align: center;
}
#Dec {
  grid-column: 1;
  grid-row: 2;
}
#Inc {
  grid-column:3;
  grid-row: 2;
}
#Confirm {
  grid-column: 2;
  grid-row: 2;
}
#Dec,#Inc,#Confirm {
  padding: 10px;
}
