<!DOCTYPE html>
<html>
<header>
  <h1>Scorer</h1>
</header>

<body>
  @if (newGame()) {
    @if (showTeamsUi()) {
      <app-teamlist-ui
        (matchStart)="matchEvents($event)"
      />
    }
    @if (showCoinTossUi()) {
      <app-cointoss-ui
        (homeTeamWin)="matchEvents($event)"
        (awayTeamWin)="matchEvents($event)"
      />
    }
    @if (showRoleSelectionUi()) {
      <app-roleselect-ui
        (roleBat)="matchEvents($event)"
        (roleBowl)="matchEvents($event)"
      />
    }
    @if (newInnings()) {
      <app-scorer-ui />
      @if (showSelectOpeningBatsForm()) {
        <app-select-openers-form
          (openingBatters)="receiveOpenerNames($event)"
          (openerSelected)="matchEvents($event)"
        />
      }
      @if (showSelectPlayerForm()) {
        <app-select-player-form
          [formLabel]="formSelect()"
          (playerSelect)="receivePlayerName($event)"
          (playerChosenEv)="matchEvents($event)"
        />
      }
      @if (showExtraForm()) {
        <app-extra-form
          (wideEv)="extraEvent($event)"
          (nbEv)="extraEvent($event)"
          (byeEv)="extraEvent($event)"
          (legbyeEv)="extraEvent($event)"
        />
      } @else if(showRunForm()) {
        <app-run-form
          (totalRuns)="runEvent($event)"
        />
      } @else if(showWicketForm()) {
        <app-wicket-form
          (wicketTaken)="wicketEvent($event)"
        />
      } @else {
        <app-event-buttons-ui
          (eventDot)="deliveryEvent($event)"
          (eventRuns)="deliveryEvent($event)"
          (eventExtras)="deliveryEvent($event)"
          (eventWicket)="deliveryEvent($event)"
        />
      }
    }
  } @else {
    <button (click)="startNewGame()">New Game</button>
  }
</body>
</html>
