<!DOCTYPE html>
<html>
<header>
  <h1>Scorer</h1>
</header>

<body>
  @if (newGame()) {
    @if (showTeamsUi()) {
      <app-teamlist-ui
      [homeTeam]="returnHomeTeam()"
      [awayTeam]="returnAwayTeam()"
      (matchStart)="matchEvents($event)"
      />
    }
    @if (showCoinTossUi()) {
      <app-cointoss-ui
      [homeTeamName]="homeTeamName().name"
      [awayTeamName]="awayTeamName().name"
      (tossCompleted)="matchEvents($event)"
      />
    }
    @if (showRoleSelectionUi()) {
      <app-roleselect-ui
      [homeTeam]="returnHomeTeam()"
      [awayTeam]="returnAwayTeam()"
      (selectRole)="matchEvents($event)"
      />
    }
    @if (showSelectOpeningBatsForm()) {
        <app-select-openers-form
        [homeTeam]="returnHomeTeam()"
        [awayTeam]="returnAwayTeam()"
        (openingBatters)="matchEvents($event)"
      />
    }
    @if (showSelectPlayerForm()) {
      <app-select-player-form
      [homeTeam]="returnHomeTeam()"
      [awayTeam]="returnAwayTeam()"
      [formLabel]="formSelect()"
      (eventPlayerChosen)="matchEvents($event)"
      />
    }
    @if (showEndInningUi()) {
      <app-end-inning-ui
        [homeTeam]="returnHomeTeam()"
        [awayTeam]="returnAwayTeam()"
        [inning]="currentInnings()"
        [match]="currentMatch()"
        (newInningEvent)="matchEvents($event)"
        (endMatchEvent)="matchEvents($event)"
      />
    }
    @if (newInningsStarted()) {
      <app-scorer-ui
      [homeTeam]="returnHomeTeam()"
      [awayTeam]="returnAwayTeam()"
      [comms]="commentary()"
      [over]="currentOver()"
      />
      @if (showSelectPlayerForm()) {
        <app-select-player-form
        [homeTeam]="returnHomeTeam()"
        [awayTeam]="returnAwayTeam()"
        [formLabel]="formSelect()"
        (eventPlayerChosen)="matchEvents($event)"
        />
      }
      <app-event-buttons-ui
      [over]="currentOver()"
      [inning]="currentInnings()"
      [batTeam]="returnBattingTeam()"
      [bowlTeam]="returnBowlingTeam()"
      (deliveryEv)="matchEvents($event)"
      (showForm)="uiEvent($event)"
      />
      @if (loadUi('ShowRunForm')) {
        <app-run-form
          [batTeam]="returnBattingTeam()"
          [bowlTeam]="returnBowlingTeam()"
          (runEvent)="matchEvents($event)"
          (hideRunForm)="uiEvent($event)"
        />
      }
      @if (loadUi('ShowExtraForm')) {
        <app-extra-form
          [batTeam]="returnBattingTeam()"
          [bowlTeam]="returnBowlingTeam()"
          (extraEvent)="matchEvents($event)"
          (hideExtraForm)="uiEvent($event)"
        />
      }
      @if (loadUi('ShowWicketForm')) {
          <app-wicket-form
          [batTeam]="returnBattingTeam()"
          [bowlTeam]="returnBowlingTeam()"
          (wicketEvent)="matchEvents($event)"
          (hideWicketForm)="uiEvent($event)"
          />
        }
      @if (showEndOverUi()) {
        <app-end-over-ui
          [checkInningEnd]="checkInningComplete()"
          [lastOver]="returnLastOver()"
          (newOver)="matchEvents($event)"
          (endInning)="matchEvents($event)"
        />
      }
    }
    @if (showEndMatchUi()) {
      <app-end-match-ui
      [homeTeam]="returnHomeTeam()"
      [awayTeam]="returnAwayTeam()"
      />
    }

  } @else {
    <app-match-settings-form
      (setMatchSettings)="matchEvents($event)"
    />
  }
</body>
</html>
