<!DOCTYPE html>
<html>
  <div id="OpeningBatForm">
    <h3>Select Openers</h3>
    <form [formGroup]="openerForm">
      <div id="PlayerOne">
        @for (player of batTeam(); track $index) {
          <div>
            <input
              (click)="onClickP1($index)"
              type="checkbox" id="p1-{{player}}"
              name="{{player}}" formControlName="playerOne"
            />
            <label for="p1-{{player}}">{{player}}</label>
          </div>
        }
        <button id="ResetB1" (click)="resetPlayerOneForm()">Reset Selection</button>
      </div>
      <div id="PlayerTwo">
        @for (player of batTeam(); track $index) {
          <div>
            <input
              (click)="onClickP2($index)"
              type="checkbox" id="p2-{{player}}"
              name="{{player}}" formControlName="playerTwo"
            />
            <label for="p2-{{player}}">{{player}}</label>
          </div>
        }
        <button id="ResetB2" (click)="resetPlayerTwoForm()">Reset Selection</button>
      </div>
    <button
      id="SubmitOpeners"
      [disabled]="disabledSubmit()" (click)="submitOpeningBatters()">
      Submit Openers<br>Bat One: {{batOneName()}}<br>Bat Two: {{batTwoName()}}<br>
    </button>
  </form>
  </div>
</html>
