#WicketForm {
  border: solid 2.5px black;
  display: grid;
  grid-template-columns: repeat(5,minmax(0,1fr));
  grid-template-rows: 2;
  grid-gap: 10px;
  background: white;
  padding: 10px;

}
h4 {
  grid-column: 1 /span 5;
  text-align: center;
  text-decoration: underline;
  margin: 0;
}
button {
  padding: 10px;
}
