<!DOCTYPE html>
<html>
  <div id="Form">
    <h3>Select {{returnPlayerType()}}</h3>
    @for (player of returnTeamForm(); track $index) {
    <div id="pSelect">
      <label>
        <input id="id-{{player}}" type="radio" value="{{player}}" [formControl]="playerChosen" />
        {{player}}
      </label>
    </div>
    }
    <button [disabled]="disableButton()" (click)="emitPlayerChosenEvent()">
      Confirm: {{returnPlayerName()}}
      @if (selectionMade()) {
        @if (lastOverBowlerCheck()) {
          (Bowled last over!)
        }
      }
      </button>
  </div>
</html>
