#Form {
  border: solid 2.5px black;
  background: white;
  padding: 10px;
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 3;
  grid-gap: 10px;
}
h3 {
  text-align: center;
  text-decoration: underline;
  margin: 0;
}
button {
  padding: 10px;
}
input {
  margin: 0 10px 0 0;
}

